*{
    margin: 0;
}

.menu{
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #3B1C47;
    z-index: 20;
}

.menuContainer{
    position: relative;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 88%;
    max-width: 1700px;

}

.menuTitle{
    display: block; 
    margin: 0 auto;
    width: 100%;
    margin-top: 6rem;
}

.menuSelection{
    margin-top: 7rem;
    margin-left: 5rem;
    margin-right: 70rem;
    width: 50%
}

.row{
    display: flex;
    gap: 25rem;
}

.menuShip{
    width: 30vw;
}
.btn{
    font-family: 'VT323', monospace;
    color: white;
    display: block;
    background-color: #FF8A7E;
    border: none;
    margin: 2rem;
    text-decoration: none;
    font-size: 5vw;
    padding: .01em .5em;
    border-top-left-radius: .3em;
    border-bottom-right-radius: .3em;
    border-top-right-radius: .13em;
    border-bottom-left-radius: .13em;
    cursor: pointer;
}

.btn:hover{
    background-color: #333333;
}

