*{
    margin: 0;
    box-sizing: border-box;
}

.preGameScreen{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #3B1C47;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preGameScreen h2{
    font-family: 'VT323', monospace;
    color: white;
    font-size: 2.5vw;
    animation: animate 1.5s linear infinite;
}

.menu{
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #3B1C47;
    z-index: 20;
    display: none;
}

.menuContainer{
    position: relative;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 88%;
    max-width: 1700px;

}

.menuTitle{
    display: block; 
    margin: 0 auto;
    width: 100%;
    margin-top: 6rem;
}

.menuSelection{
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 70rem;
    width: 50%
}

.row{
    display: flex;
    gap: 7vw;
}

#wrapper{
    margin-top: 4rem;
}

.menuShip{
    position: fixed;
    width: 35vw;
    margin-right: 10rem;
}

.screen{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}


.restartScreen{
    position: absolute;
    background-color: #3B1C47;
    border: solid #E45A85 15px;
    border-radius: 10px;
    z-index: 30;
    width: 70%;
}

.restartContainer{
    position: relative;
    margin: 3rem auto;
    width: 80%;
}

.gameOverTitle{
    margin: 0 auto;
    width: 100%;
}

.restartSelection{
    display: block;
    margin: 3rem auto;
    width: 40%;
    justify-items: center;
}

.btn{
    font-family: 'VT323', monospace;
    color: white;
    display: block;
    background-color: #ff8b7e00;
    border: none;
    margin: 2rem;
    text-decoration: none;
    font-size: 5vw;
    padding: .01em .7em .03em .2em;
    border-top-left-radius: .3em;
    border-bottom-right-radius: .9em;
    border-top-right-radius: .13em;
    border-bottom-left-radius: .13em;
    cursor: pointer;
}

.restartContainer .btn{
    font-size: 3vw;
    margin: 2rem auto;
    padding: 0.1rem .5rem;
}

.btn:hover{
    background-color: #678AFB;
    scale: 1.25;
}

@keyframes animate{
    0%{
        opacity: 0.1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}

