*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

.preGameScreen{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #004162;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.preGameScreen h2{
    font-family: 'VT323', monospace;
    color: white;
    font-size: 2.5vw;
    animation: animate 1.5s linear infinite;
}

.menu{
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #004162;
    z-index: 20;
    display: none;
}

.menuContainer{
    position: relative;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 88%;
    max-width: 1700px;
}

.stripesLeft{
    position: fixed;
    width: 12vw;
    margin-left: 4rem;
    margin-top: 10rem;
}

.stripesRight{
    position: fixed;
    width: 16vw;
    right: 0px;
    top: 0;
    margin-top: 10rem;
    margin-right: -1rem;
}

.menuTitle{
    display: block; 
    margin: 0 auto;
    width: 75%;
    margin-top: 6rem;
}

.menuSelection{
    margin-top: 2rem;
    margin-left: 15rem;
    margin-right: 70rem;
    width: 50%
}

.row{
    display: flex;
    gap: 9vw;
}


#wrapper{
    margin-top: 4rem;
}

.menuShip{
    position: fixed;
    width: 32vw;
    margin-right: 8rem;
    margin-top: 2rem;
}

#restartScreen{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}


.restartScreen{
    position: absolute;
    background-color: #004162;
    border: solid #E45A85 15px;
    border-radius: 10px;
    z-index: 30;
    width: 70%;
}

.restartContainer{
    position: relative;
    margin: 3rem auto;
    width: 80%;
}

.gameOverTitle{
    margin: 0 auto;
    width: 100%;
}

.showScore{
    display: block;
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    color:#FDAA93;
}

.restartSelection{
    display: flex;
    margin: 3rem auto;
    width: 60%;
    justify-items: center;
}

#optionsScreen{
    position: absolute;
    z-index: 30;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #004162;
}

.optionsBg{
    position: absolute;
    width: 70%;
    margin: 0 auto;
}

.optionsScreen{
    position: absolute;
    z-index: 30;
    width: 70%;
    display: none;
    justify-content: center;
    top: 20%;
}

.optionsSelection{
    position: absolute;
    display: block;
    z-index: 31;
    font-size: 4rem;
    color: #FFF2DB;
    margin-top: 10rem;
}

.switch{
    position: relative;
    display: block;
    width: 60px;
    height: 34px;
    margin-bottom: 2rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #676767;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #FDAA93;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #E45A85;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.btn{
    font-family: 'VT323', monospace;
    color: FFF2DB;
    display: block;
    background-color: #ff8b7e00;
    border: none;
    margin: 2rem;
    text-decoration: none;
    font-size: 5vw;
    padding: .01em .7em .03em .2em;
    border-top-left-radius: .3em;
    border-bottom-right-radius: .9em;
    border-top-right-radius: .13em;
    border-bottom-left-radius: .13em;
    cursor: pointer;
}

.optionsSelection .btn{
    font-size: 3vw;
    margin: 4rem auto;
    padding: 0.1rem .5rem;
    border-radius: .2em;
}

.restartContainer .btn{
    font-size: 3vw;
    margin: 2rem auto;
    padding: 0.1rem .5rem;
    border-radius: .2em;
    display: inline-block;
}

.btn:hover{
    background-color: #FDAA93;
    scale: 1.25;
}

.levelEl{
    position: fixed;
    z-index: 10;
    color: #FFF2DB;
    font-family: 'VT323', monospace;
    font-size: 3vw;
    left: 15%
}

.showLevel{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showLevel{
    display: none;
    z-index: 10;
    color: #FFF2DB;
    font-family: 'VT323', monospace;
    font-size: 12vw;
    animation: animate 2s linear infinite;
}

.showSeconds{
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    font-family: 'VT323', monospace;
    font-size: 3vw;
    color: #FFF2DB;
}

#opHomeButton{
    display: block;
}

#opBackButton{
    display: none;
}

@keyframes animate{
    0%{
        opacity: 0.1;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.1;
    }
}

